<nav>
    <ul>
      <li><a routerLink="" routerLinkActive="active">Home</a></li>
      <li><a routerLink="parts-of-translation-unit" routerLinkActive="active">Parts of Translation Unit</a></li>
      <li><a routerLink="localize-from-js" routerLinkActive="active">Localize from JS</a></li>
      <li><a routerLink="localize-in-attributes" routerLinkActive="active">Localize in Attributes</a></li>
      <li><a routerLink="localize-from-expressions" routerLinkActive="active">ICU expressions</a></li>
    </ul>
  </nav>

  <hr>
  <br>
 

<router-outlet></router-outlet>

<hr>



